.about {
  padding: 0 36px;

  margin: auto;
  text-align: left;
}
.about_headline {
  color: #f5f5f5;
  font-size: 16px;
}
.about_description {
  font-size: 10.24px;
  font-weight: 400;
  color: #dcdcdc;
}
