 body{
    font-family: 'Roboto', sans-serif;
    font-weight: 21px;
    margin : 0;
}

header,
section {
    padding : 100px 0;
}

.container {
    width : 570px;
    margin: auto;
    text-align: center;
}

img {
    outline: gray 2px solid;
    width: 30%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    outline-offset: 2px;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-size: 42px; 
    margin-top: 0;;
    border-top : 1px solid #C4C4C4;
    border-bottom : 1px solid #C4C4C4;
    padding : 20px 0;
    /* margin-bottom: 20px; */
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 80px;
}

h2 .accent-text {
    font-size: 60px;
}

.accent-text,
.name,
time {
    font-weight: 900;
    color: #99D930;
}


p {
    margin-bottom: 0;
}

.btn{
    color: #252525;
    background-color: #99D930;
    text-decoration: none;
    display: inline-block;
     margin-top: 25px;
    padding : 10px 25px;

}
.btn:hover,
.btn:focus {
    color: #fff;
    background-color : #252525;
}

.small-text {
    font-size: 16px;
    /* margin-top: 0; */
}

.bold-text{
    font-weight : 900;
}

h1 .bold-text{
    font-size: 80px;
}

h2 .bold-text{
    font-size: 60px;
}

a{
    color : #99D930
}

a:hover {
    color : #131313;
}

.inverse{
    color: #fff;
    background: #252525;
}

.inverse .btn:hover,
.inverse .btn:focus {
    background: #fff;
    color: #252525;
}

.continue:hover,
.continue:focus{
    color :#C4C4C4;
}